.heading-main-page {
    background-image: url("../images/Rectangle\ 20.png");
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    aspect-ratio: 10/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: antiquewhite;
    font-size: 2rem;
}

.container {
    display: block;
    /* margin: auto; */
    max-width: fit-content;
    box-shadow: 0 0 5px #000;
    margin: 1rem auto;
    width: 20rem;
}

.gallery-page-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 25rem));
    justify-items: center;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
}

.text p {
    text-align: center;
}

.gallery-page-img-container {
    width: 20rem;
    margin: 1rem;
    /* position:relative; */
    transition: all 1s ease-in;
    cursor: pointer;
    z-index: -1;
    /* margin: auto; */
    margin-bottom: 0px;
}


/* .gallery-page-img-container:hover .gallery-page-img {
    width: 100%;
} */

.gallery-page-img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}


/* 
.gallery-page-img:hover {
    width: 100%;
    aspect-ratio: 1;
} */

.social-link {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 18%;
    /* top: 0%; */
    height: 0%;
    bottom: 0%;
    /* display: none; */
    opacity: 0;
    transition: all 600ms ease-in;
    z-index: -1;
}

.gallery-page-img-container:hover {
    transform: scaleZ(-1);
    z-index: 1;
}

.gallery-page-img-container:hover .social-link {
    /* transform:scaleZ(1.5); */
    opacity: 1;
    width: 90%;
    height: 35%;
    bottom: 2%;
    /* left:0%; */
    /* bottom:0%; */
    z-index: 2;
}

.text {
    padding: 0 0 0.5rem 0;
}

@media screen and (min-width:769px) and (max-width:991px) {
    .gallery-page-container {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(33%, 16rem)); */
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center; */
    }
    .gallery-page-img-container {
        max-width: 20rem;
    }
    /* .gallery-page-img {
        width: 100%;
    } */
    /* .heading-main-page {
        aspect-ratio: 4/1;
    } */
}

@media screen and (max-width:746px) {
    .heading-main-page {
        aspect-ratio: 4/1;
    }
}

@media screen and (max-width:370px) {
    .gallery-page-img-container {
        max-width: min(17rem, 15em);
    }
    .gallery-page-img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }
    .heading-main-page {
        aspect-ratio: 4/1;
    }
    .gallery-page-img-container:hover .social-link {
        /* transform:scaleZ(1.5); */
        opacity: 1;
        width: 100%;
        height: 35%;
        bottom: 2%;
        /* left:0%; */
        /* bottom:0%; */
        z-index: 2;
    }
}